/* Global styles that apply to both web and mobile */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative; /* Add position relative to the header element */

    /* Add styles for the logo */
    display: flex;
    align-items: center;
}
.header-image {
    max-width: 100%; /* Ensure the image does not exceed the container's width */
    height: auto; /* Preserve the image's aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
    margin-bottom: 1px; /* Add spacing between the image and the header text */
}


header .logo {
    border-radius: 50%; /* Make the logo rounded */
    width: 50px; /* Adjust the width as per your logo dimensions */
    height: 50px; /* Adjust the height as per your logo dimensions */
    background-color: #fff; /* Set the background color for the logo */
    margin-right: 10px; /* Add some spacing between the logo and the header text */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
}

h2 {
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/* Styles specific to web (desktop) resolution */

@media screen and (min-width: 768px) {
    /* Styles for screens with a width of 768px and above */
    
    body {
        background-color: #f5f5f5;
        color: #333;
    }

    section {
        max-width: 960px;
        margin: 0 auto;
    }

    footer {
        font-size: 14px;
    }
}


/* Styles specific to mobile resolution */

@media screen and (max-width: 767px) {
    /* Styles for screens with a width of up to 767px */
    
    body {
        background-color: #fff;
        color: #333;
    }

    header {
        padding: 10px 20px;
    }

    nav ul li {
        margin: 0 5px;
    }

    section {
        padding: 20px;
    }

    footer {
        font-size: 12px;
    }
}
